.dropdown-toggle::after {
  display: none !important;
}

header {
  background-color: #122638;
  width: 100%;
}

header .maxw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: 72px;
}

.dropdown-toggle {
  padding: 0;
}

.desktop-menu,
.mobile-menu {
  .user {
    gap: 16px;

    >a,
    span {
      color: #fff;
      text-align: center;
      font-size: 16px;
    }

    a {
      border-radius: 32px;
      border: 1px solid #fff;
      padding: 4px 16px;
      height: fit-content;
      margin: auto 0;
      text-align: center;
      transition: 0.2s ease-out;
    }

    a:hover {
      background: #0d88f9;
      border-color: transparent;
    }

    a:has(span) {
      border: none;
      padding: 0 !important;
    }

    a:has(span):hover {
      background: none;
    }

    span {
      font-size: 42px;
      transform: translateY(2px);
      position: relative;
      font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
    }

    span::after {
      content: "";
      width: 30px;
      height: 30px;
      background-color: #0d88f9;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-6px, 6px);
      z-index: -1;
      border-radius: 100%;
      opacity: 0;
    }

    span:hover::after {
      transition: 0.2s ease-out;
      opacity: 1;
    }

    #menu::after {
      display: none !important;
    }
  }
}

.offcanvas {
  width: 200px !important;
  background-color: #0000007a;
  backdrop-filter: blur(2px);
  transition: transform 0.2s ease-in-out;
}

.offcanvas-title {
  font-size: 24px;
  color: #fff;
}

.offcanvas-header {
  justify-content: center;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;

  a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 4px 16px;
    width: 120px;
    box-sizing: border-box;
    text-align: center;
    transition: 0.2s ease-out;
  }

  a:hover {
    background: #0d88f9;
    border-color: transparent;
  }
}

.dropdown-menu {
  border: none;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.75);
}

.dropdown-menu a {
  border: none !important;
  border-radius: unset !important;
}

.dropdown-menu a:hover {
  background: #a7a7a741 !important;
}

.dropdown-menu h6 {
  text-align: center;
  font-size: 16px;
}

.fac-name {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 8px;
}

.fac-location {
  margin-bottom: 16px;
}

.fac-location,
.fac-type,
.fac-revenue {
  font-size: 24px;
}

.fac-revenue {
  text-align: right;
}

.fac-revenue span {
  font-weight: bold;
}

.graphs {
  margin-top: 80px;
}

.graph-parent p {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.graph-toggle {
  display: flex;
  gap: 180px;
  margin: 24px 0;
}

.graph-toggle a {
  color: #4a4a4a;
  text-decoration: none;
}

.graph-toggle a span {
  font-size: 32px;
  position: relative;
  transition: 0.2s ease-out;
}

.graph-toggle a span:hover {
  color: #436b8f;
  transform: scale(1.1);
}

.graph-toggle a.active span {
  color: #0d88f9;
  transition: 0.2s ease-out;
  transform: scale(1.4);
}

.financial {
  margin-top: 120px;
}

.financial>div {
  gap: 32px;
}

.list {
  border: 1px solid #525252;
  padding: 16px !important;
  border-radius: 10px;
  width: 100%;
  height: 50vh;
  margin-bottom: 64px;
}

.financial h3 {
  text-align: center;
}

.btn-f {
  width: 150px;
  align-self: center;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #0d88f9;
  transition: all .2s ease-out, color .1s linear;
  font-size: 16px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-f:hover {
  background: #0D88F9;
  border-color: transparent;
  color: #fff;
}

.list::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.list::-webkit-scrollbar-track {
  background-color: transparent;
}

.list::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 3%, rgba(82, 82, 82, 1) 3%, rgba(82, 82, 82, 1) 50%, rgba(82, 82, 82, 1) 97%, rgba(255, 255, 255, 0) 97%);
  border-radius: 5px;
}

.list::-webkit-scrollbar-button:start:decrement,
.list::-webkit-scrollbar-button:end:increment {
  display: none;
}

textarea {
  resize: none;
}

.modal-btn.confirm {
  left: 50%;
  transform: translateX(-50%);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: scroll;
}

.container-er,
.container-ex {
  border: 1px solid #525252;
  border-radius: 12px;
  padding: 0 24px;
  min-height: 80px !important;
  position: relative;
  align-items: center;
}

.type {
  position: absolute;
  top: 2px;
  left: 8px;
  color: #0d88f9;
  font-size: 14px;
  font-weight: 600;
}

.amount {
  font-size: 22px;
  font-weight: 500;
}

.container-er .amount {
  color: #146914;
}

.container-ex .amount {
  color: #7a1c1c;
}

.date {
  font-size: 20px;
  font-weight: 300;
}

.description {
  font-size: 16px;
  line-height: 110%;
}

.card h4 {
  text-align: center;
}

textarea {
  padding-left: 8px;
  border: 1px solid #bebebe !important;
  border-radius: 6px;
  width: 85%;
}

form>div {
  margin-bottom: 24px;
  gap: 16px;
  align-items: center;
}

form>div p {
  display: inline;
}

form h4 {
  padding-bottom: 8px;
}

form input,
form select {
  padding-left: 8px;
  border: 1px solid #bebebe !important;
  border-radius: 6px;
  width: 40% !important;
}

.inline {
  display: inline-block !important;
  width: 45% !important;
}

.inline input {
  width: 80% !important;
}

.confirm {
  background: #122638;
  color: #fff;
  border-radius: 8px;
  padding: 8px 12px;
}

.clear {
  background: none;
  color: #f00;
  display: flex;
  align-items: center;
}

.pie-graph h4:last-of-type {
  margin-top: 48px;
}

.card-footer input {
  width: 200px !important;
}

.card-footer button {
  background: #122638;
  color: #fff;
  border-radius: 8px;
  padding: 8px 12px;
}

@media only screen and (max-width:1440px) {
  .description, .date{
    text-align: center !important;
  }

  .container-er, .container-ex{
    padding: 0 18px;
  }
}

@media only screen and (max-width:1200px){
  .earnings, .expenses{
    width: 100%;
  }

  .list{
    margin-bottom: 24px;
  }
}

@media only screen and (max-width:996px){
  .date{
    text-align: right  !important;
  }

  .type{
    text-align: center;
  }

  .financial{
    margin-top: 48px;
  }
}