* {
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
    }
}

.container {
    padding: 0 120px;
}

.maxw {
    max-width: 1440px;
    margin: 0 auto;
}

button {
    border: none;
}

.btn-form {
    background: transparent;
    border-radius: 6px;
    width: 180px;
    height: 42px;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 600;
    font-size: 20px;
    transition: .2s ease-out;
    margin-bottom: auto;
}

.btn-form:hover {
    background: #0D88F9;
    border-color: transparent;
}

.back-home {
    position: absolute;
    top: 12px;
    left: -40px;
    color: #fff;
    text-decoration: none;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    gap: 4px;
    width: fit-content;
}

.logo{
    height: 42px;
    width: auto;
}

/*overriding bootstrap css*/

input {
    border: none !important;
    box-shadow: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

.form-floating label {
    transition: transform 0.1s ease;
}

.form-floating {

    input {
        width: 100% !important;
        height: 100% !important;
        padding: 0 !important;
        min-height: unset !important;
        font-size: 16px !important;
        padding-left: calc(0.15rem + 10px) !important;
        padding-right: calc(0.15rem + 10px) !important;
    }

    label {
        padding: 0 0 0 10px !important;
        transform: translateY(30%);
        background: none !important;
    }

    label::after {
        background: none !important;
    }

}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control-plaintext~label,
.form-floating>.form-select~label {
    transform: scale(0.85) translateY(-0.3rem) translateX(0.15rem);
    background: none !important;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.row > *{
    padding-left: 0;
    padding-right: 0;
}

/*responsive*/

@media only screen and (max-width:992px) {
    .container {
        padding: 0 80px;
    }
}

@media only screen and (max-width:768px) {
    .container {
        padding: 0 24px;
    }

    .btn-form{
        font-size: 24px;
        width: 200px;
        height: 52px;
    }

    .back-home{
        left: 8px;
        padding: 0;
        top: 24px;
    }
}