header {
  background-color: #122638;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  nav{
    display: flex;
    gap: 24px;
    text-decoration: none;
    a{
        text-decoration: none;
        color: white;
    }
  }
  
  img {
    width: 64px;
    height: 64px;
  }
}
.navbar-nav a{
    color: #fff;
}